<form method="post" action="{{ path('class_room_delete', {'id': class_room.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ class_room.id) }}">
    <button class="btn">Delete</button>
</form>
