{% extends 'base.html.twig' %}

{% block title %}ClassRoom index
{% endblock %}

{% block body %}
	<h1>ClassRoom index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>ClassRoomCode</th>
				<th>Speciality</th>
				<th>NumberRoom</th>
				{# <th>CreatedAt</th>
				                <th>UpdatedAt</th> #}
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for class_room in class_rooms %}
				<tr>
					<td>{{ class_room.id }}</td>
					<td>
						<a href="{{ path('class_room_show', {'id': class_room.id}) }}">{{ class_room.classRoomCode }}</a>
					</td>
					<td>{{ class_room.speciality }}</td>
					{# <td>{{ class_room.numberRoom }}</td>
					                <td>{{ class_room.createdAt ? class_room.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					                <td>{{ class_room.updatedAt ? class_room.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
					<td>
						{# <a href="{{ path('class_room_show', {'id': class_room.id}) }}">show</a> #}
						<a href="{{ path('class_room_edit', {'id': class_room.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('class_room_new') }}">Create new</a>
{% endblock %}
