{% extends 'base.html.twig' %}

{% block title %}ClassRoom{% endblock %}

{% block body %}
    <h1>ClassRoom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ class_room.id }}</td>
            </tr>
            <tr>
                <th>ClassRoomCode</th>
                <td>{{ class_room.classRoomCode }}</td>
            </tr>
            <tr>
                <th>Speciality</th>
                <td>{{ class_room.speciality }}</td>
            </tr>
            <tr>
                <th>NumberRoom</th>
                <td>{{ class_room.numberRoom }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ class_room.createdAt ? class_room.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ class_room.updatedAt ? class_room.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('class_room_index') }}">back to list</a>

    <a href="{{ path('class_room_edit', {'id': class_room.id}) }}">edit</a>

    {{ include('class_room/_delete_form.html.twig') }}
{% endblock %}
