{{ form_start(form, {'method': 'POST'}) }}
{#{{ form_widget(form) }}#}
<div class="row justify-content-center">
	<div class="col-3">
		{{form_row(form.libelle, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-3 file-uploader">
		{{form_row(form.zipFile)}}
		{#{{form_label(form.zipFile, 'Upload Zip File') }}
		{{form_widget(form.zipFile)}}#}
		{#		
		{{form_label(form.zipFile, 'Upload Zip File', {'attr': {'for': 'file-input'}}, {'label_attr': {'name': 'file-input'}} ) }}
		{{form_widget(form.zipFile, {'id': 'file-input', 'full_name': 'file-input'}) }} #}
	</div>
</div>
<div class="row justify-content-end">
	<div class="col-2">
		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
	</div>
</div>
{{ form_end(form) }}
