{% extends 'base.html.twig' %}

{% block title %}New Product
{% endblock %}

{% block body %}
	<h1>Create new Product</h1>
	<div class="row">
		{% if errors|default(null) %}
			<ul class="list-group">
				{% for error in errors %}
					<li class="list-group-item list-group-item-danger">{{ error.message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{{ include('product/_form.html.twig') }}

	<div class="row justify-content-start">
        <div class="col-2 mt-2">
            		<a href="{{ path('product_index') }}" class="btn btn-primary">back to list</a>
        </div>
	</div>
{% endblock %}
