@import "~bootstrap/scss/bootstrap";

body {
    // background-color: lightgray;
}

.file-uploader {
    flex: 0 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;

    #product_zipFile {
        display: none;
    }

    label[for="product_zipFile"] {
        // padding: 1em 1.5em;
        padding: 10px 1.5em;
        flex: 1 1 auto;
        text-align: center;
        color: #fff;
        background-color: #1894ac;
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 21px;
        /*padding: 10px 1.5em;
        flex: 1 1 auto;
        text-align: center;
        color: #fff;
        background-color: #1894ac;
        box-shadow: 1px 0 10px rgb(0 0 0 / 15%);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 21px;*/
    }

    .image-preview {
        margin: 0 0 1rem;
        min-height: 250px;
        flex: 1 0 75%;
        background-color: #c1c1c1;
    }
}
